
/*Formateo de la pagina*/

*{
    min-width: 0;
    font: inherit;
}

*, *::before, *::after{
    box-sizing: border-box;
}

img, video, svg{
    display: block;
    height: auto;
    max-width: 100%;
}

body{
    margin: 0;
    min-height: 100dvh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

/*Body */

#container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70px 20% 20% 20% 70px;

}

/*Encabezado*/

header{
    grid-column-start: 1;
    grid-column-end: 6;
}

nav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #062b6e;
    padding: 10px;
}

#imglogo{
    max-height: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#register{
    color: #fff;
}
#credentials li {
    margin: 0px 25px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

#signIn{
    margin: -5px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 0px; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Color de fondo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave al pasar el mouse */
  }

#signIn a{
    color: #062b6e;
}
#signIn:hover{
background-color: #ffd900;    
}

/*Footer*/

footer{
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    background-color: #062b6e;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    padding: 0 500px;
}

footer ul li{
    margin: 0 20px;
    display: flex;
    align-items: center;
    color:#fff;
}

footer a{
    color: #fff;
    text-decoration: none;
}

